* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.form-register {
	width: 400px;
	background: #ec821e;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 4px;
	font-family: 'arial';
	color: white;
	box-shadow: 7px 13px 37px #000;
}

.form-register h4{
	font-size: 22px;
	margin-bottom: 20px;
}

.controls{
	width: 100%;
	background: #ec821e;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #1f53c5;

}

.form-register .botons{
	width: 100%;
	background:  #ec821e;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
}

body{
	background-image: url('Tacos de fondo');
}
